.Row, .Col, #imgContainer {
    height: 100%;

}

.img {
    height: auto;
    width: 100%;
}

#outerContainer {
    padding: 30px;
}

.Col {
    overflow: scroll;
}

#imgContainer {
    height: 770px;

}