#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    height: 75px;
}

#nav-link-section {
    width: 25%; 
}

#nav-ul {
    list-style-type: none;
}

#logo-section {
    padding: 10px;
    margin-left: 10px;
}

#logo-image {
    height: 100%;
    width: auto;
}