#outerContainer {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    background-color: var( --background-light);
    border-radius: 3px;
}


#heading-box {
    position: relative;
    left: -50px;
    bottom: -10px;
    height: 8em;
    background-color: var(--text-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
}

#heading-box h3 {
    font-size: 60px;
}

#para-box {
    height: 90%;
    overflow: hidden;
    margin-top: 10px;
}